@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<section class="section section--themed section--header section--content-center-bottom">
    <div class="section__hero-content">
        <h1 class="no-air"></h1>
    </div>
</section>
