@inherits UmbracoViewPage<Amazilia.Core.Domain.Catalog.Product>
@using Amazilia.Web.Controllers;


@{using (Html.BeginUmbracoForm<BasketController>
                                    ("AddBasketItem", new { area = "Amazilia" }, new { role = "form", @class = "additem" }))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("ItemID", Model.UmbracoContent.Id)

        //Url to redirect to, when added
        @Html.Hidden("RedirectToUrl", "")


        if (!Model.ManageInventory || Model.StockQuantity > 0)
        {
            <div class="input-group col-md-6">
                <input type="number"  value="1" min="1" @(Model.ManageInventory ? "max=" + Model.StockQuantity.ToString() : "") required class="form-control quantity" name="Quantity" />
                <div class="product-button input-group-btn">
                    <button class="button button--border--solid">Toevoegen</button>
                </div>
            </div>
        }

        else
        {
            <div class="outofstock">Out of stock</div>
        }

    }
}
