<div ng-controller="Amazilia.RootController">
    <div class='pluginContainer' ng-controller="Amazilia.PluginController">

        <div>

            <umb-load-indicator ng-if="page.loading"></umb-load-indicator>

            <form name="contentForm" class="form-horizontal"
                  ng-submit="Save()"
                  novalidate
                  val-form-manager>
                <umb-editor-view>
                    <!--menu="$parent.menu"-->
                    <umb-editor-header menu="page.menu" name="page.name"
                                       name-locked="true"
                                       tabs="tabs"
                                       hide-icon="false"
                                       hide-description="false"
                                       hide-alias="true">
                    </umb-editor-header>


                    <umb-editor-container>
                        <umb-pane>
                            <umb-editor-sub-header>
                                <umb-editor-sub-header-content-left>
                                    <umb-editor-sub-header-section>
                                        <div class="storeselection" ng-if="!tabs[0].active">                                           
                                            <label> Configuration for: </label>
                                            <select ng-model="page.selectedStoreId" ng-change="changeStore()" ng-options="store.Value as store.Text for store in Data.stores">
                                                <option value="">-- Default</option>
                                            </select>
                                        </div>                                        
                                    </umb-editor-sub-header-section>
                                </umb-editor-sub-header-content-left>
                                <umb-editor-sub-header-content-right>

                                    <umb-editor-sub-header-section>
                                      
                                    </umb-editor-sub-header-section>

                                </umb-editor-sub-header-content-right>
                            </umb-editor-sub-header>
                        </umb-pane>
                     
                        <umb-tabs-content view="true">
                            <umb-tab id="tab0" active rel="0">
                                <umb-pane>

                                    <umb-control-group label="@general_name">
                                        <input name="pluginName" type="text" maxlength="255" ng-model="Data.pluginName" required class="umb-editor umb-textstring" />
                                        <span class="help-inline" val-msg-for="store_name" ng-show="contentForm.pluginName.$invalid"><localize key="general_required">Required</localize></span>
                                    </umb-control-group>

                                    <umb-control-group label="@general_description">
                                        <textarea ng-model="Data.description" class="umb-editor umb-textstring" />
                                    </umb-control-group>

                                    <umb-control-group label="@sort_sortOrder">
                                        <input type="number" ng-model="Data.displayOrder" class="umb-editor umb-textstring" />
                                    </umb-control-group>

                                    <umb-control-group label="@amazilia_limitedtostore" ng-if="Data.stores.length">
                                        <div ng-repeat="store in Data.stores"> <label for=""><input type="checkbox" ng-model="store.Selected" />{{store.Text}}</label></div>
                                    </umb-control-group>

                                    <umb-control-group label="@amazilia_installplugin" description="@amazilia_installpluginDescription">

                                        <umb-button ng-if="!Data.installed" type="button"
                                                    action="install()"
                                                    label="Install"
                                                    button-style="success"
                                                    label-key="buttons_install"
                                                    disabled="page.loading">
                                        </umb-button>

                                        <umb-button ng-if="Data.installed" type="button"
                                                    action="uninstall()"
                                                    label="Uninstall"
                                                    button-style="warning"
                                                    label-key="buttons_uninstall"
                                                    disabled="page.loading">
                                        </umb-button>
                                    </umb-control-group>

                                </umb-pane>
                            </umb-tab>
                            <umb-tab id="tab1" active rel="1">
                                <umb-pane>
                                    <div ng-include="viewPath">

                                    </div>
                                </umb-pane>
                            </umb-tab>
                        </umb-tabs-content>
                    </umb-editor-container>


                    <umb-editor-footer>

                        <umb-editor-footer-content-left>

                        </umb-editor-footer-content-left>

                        <umb-editor-footer-content-right>
                            <umb-button type="button"
                                        action="$parent.navigateUp()"
                                        label="Return to list"
                                        label-key="buttons_returnToList"
                                        disabled="page.loading">
                            </umb-button>
                            <umb-button type="submit"
                                        button-style="success"
                                        state="buttonState"
                                        shortcut="ctrl+s"
                                        label="Save"
                                        label-key="buttons_save"
                                        disabled="contentForm.$invalid">
                            </umb-button>


                            <!--<div class="btn-group umb-button">
                                <input type="button" id="btnSave" ng-click="Save()" class="btn btn-success enable_button_child" value="Opslaan" />
                            </div>-->
                        </umb-editor-footer-content-right>

                    </umb-editor-footer>

                    <!--<div class="umb-tab-buttons umb-editor-drawer">
                        <div class="umb-editor-drawer-content">
                            <div class="umb-editor-drawer-content__right-side">
                                <div class="btn-group umb-button">
                                    <input type="button" id="btnSave" ng-click="Save()" class="btn btn-success enable_button_child" value="Opslaan" />
                                </div>
                            </div>
                        </div>
                    </div>-->

                </umb-editor-view>

            </form>
        </div>

    </div>
</div>

