<div class="umb-editor" ng-controller="Amazilia.PriceEditorController">
    <div ng-if="model.isLoading">
        <localize key="loading">Loading</localize>...
    </div>
    <div ng-if="!model.isLoading">

        <umb-box>
            <umb-box-header title-key="amazilia_taxcategory"></umb-box-header>
            <umb-box-content>
                <select name="dropDownList"
                        class="umb-editor umb-dropdown"
                        ng-model="model.value.taxCategoryId"
                        ng-options="item.Id as item.Name for item in model.taxCategories">
                    <option value="">-- <localize key="amazilia_taxcategory"></localize></option>
                </select>
            </umb-box-content>
        </umb-box>

        <amz-priceeditor use-tierprice="true" price-info="model.value"></amz-priceeditor>
     
    </div>

    <div ng-show="!model.priceGroups.length">
        <localize key="amazilia_nopricegroups">There are no pricegroups</localize>
    </div>

</div>



