<div class="umb-editor" ng-controller="Amazilia.PriceEditorController">
    <div ng-if="model.isLoading">
        <localize key="loading">Loading</localize>...
    </div>
    <div ng-if="!model.isLoading">

        <umb-box>
            <umb-box-header title-key="amazilia_taxcategory"></umb-box-header>
            <umb-box-content>
                <select name="dropDownList"
                        class="umb-editor umb-dropdown"
                        ng-model="model.value.taxCategoryId"
                        ng-options="item.Id as item.Name for item in model.taxCategories">
                    <option value="">-- <localize key="amazilia_taxcategory"></localize></option>
                </select>
            </umb-box-content>
        </umb-box>       
        <div ng-repeat="pricegroup in model.priceGroups">
            <umb-box>
                <umb-box-header title="{{pricegroup.Name}}"></umb-box-header>
                <umb-box-content>
                    <div class="row">
                        <div class="span2">
                            <localize key="amazilia_price">Price</localize>:
                        </div>
                        <div class="span3">
                            <!-- todo : validation werkend maken. val-property-validator='validateMandatory'-->

                            <input id="{{'pricegroup_' + pricegroup.Id}}" name="pricegroup"
                                   type="number"
                                   pattern="[0-9]+([,\.][0-9]+)?"
                                   class="umb-editor umb-number"
                                   ng-model="model.value.priceGroups[pricegroup.Id].Price" />

                            <span class="help-inline" val-msg-for="pricegroup" val-toggle-msg="amz_mandatory"><localize key="validation_invalidNumber">Not a number</localize></span>

                        </div>
                        <div class="span3">
                            <localize key="amazilia_incltax">inl. Tax</localize>:
                        </div>

                        <div class="span3">
                            <input name="InclTaxField"
                                   type="checkbox"
                                   pattern="[0-9]+([,\.][0-9]+)?"
                                   class="umb-editor umb-number"
                                   ng-model="model.value.priceGroups[pricegroup.Id].InclTax" />
                        </div>
                    </div>

                    <div ng-repeat="tierPrice in model.value.priceGroups[pricegroup.Id].TierPrices" class="amz-tier-price">
                        <div class="row">
                            <div class="span1">
                                <localize key="amazilia_price">Price</localize>
                            </div>
                            <div class="span4">
                                <!-- todo : validation werkend maken. val-property-validator='validateMandatory'-->

                                <input id="{{'tierpricegroup_' + pricegroup.Id}}" name="pricegroup"
                                       type="number"
                                       pattern="[0-9]+([,\.][0-9]+)?"
                                       class="umb-editor umb-number"
                                       ng-model="tierPrice.Price" />

                                <span class="help-inline" val-msg-for="pricegroup" val-toggle-msg="amz_mandatory"><localize key="validation_invalidNumber">Not a number</localize></span>

                            </div>
                            <div class="span1">
                                <localize key="amazilia_quantity"></localize>
                            </div>
                            <div class="span4">
                                <input id="{{'tierpricegroupq_' + pricegroup.Id}}" name="quantity"
                                       type="number"
                                       pattern="[0-9]+([,\.][0-9]+)?"
                                       class="umb-editor umb-number"
                                       ng-model="tierPrice.Quantity" />
                            </div>
                            <div class="span1" ng-click="deleteTierPrice(pricegroup.Id, $index)">
                                <i class="icon icon-trash" localize="title" title="Delete price"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span1">
                                <localize key="amazilia_startDate"></localize>
                            </div>
                            <div class="span4">
                                <!--defaultDate  : tierPrice.DTStart ,-->
                                <umb-date-time-picker options="getDateConfig(tierPrice, 'DTStart')"
                                                      on-change="datePickerChange(event,tierPrice, 'DTStart')"
                                                      on-error="datePickerError(event, tierPrice, 'DTStart')">

                                    <span ng-if="tierPrice.DTStart" class="label label-primary date">{{tierPrice.DTStart}}<i class="icon-trash" ng-click="deleteDate($event, tierPrice, 'DTStart')" localize="title" title="Delete price"></i></span>
                                    <span ng-hide="tierPrice.DTStart" class="label label-primary no-date">
                                        No start date selected
                                    </span>

                                    <span class="add-on">
                                        <i class="icon-calendar"></i>
                                    </span>

                                </umb-date-time-picker>
                            </div>
                            <div class="span1">
                                <localize key="amazilia_endDate"></localize>
                            </div>
                            <div class="span4">
                                <!--defaultDate  : tierPrice.DTEnd ,-->
                                <umb-date-time-picker options="dateConfig"
                                                      on-change="datePickerChange(event, tierPrice, 'DTEnd')"
                                                      on-error="datePickerError(event, tierPrice, 'DTEnd')">

                                    <span ng-if="tierPrice.DTEnd" class="label label-primary date">
                                        {{tierPrice.DTEnd}}<i class="icon-trash" ng-click="deleteDate($event,tierPrice, 'DTEnd')" localize="title" title="Delete price"></i>
                                    </span>
                                    <span ng-hide="tierPrice.DTEnd" class="label label-primary no-date">
                                        No end date selected
                                    </span>

                                    <span class="add-on">
                                        <i class="icon-calendar"></i>
                                    </span>

                                </umb-date-time-picker>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <a ng-click="addTierPrice(pricegroup.Id)"><i class="icon icon-add" localize="title" title="Add tierprice">Add tierprice</i> </a>
                    </div>
                </umb-box-content>
            </umb-box>
        </div>
    </div>

    <div ng-show="!model.priceGroups.length">
        <localize key="amazilia_nopricegroups">There are no pricegroups</localize>
    </div>

</div>



