@inherits AmaziliaViewPageOfTContent<Amazilia.Web.Models.Membership.MemberActivationModel>
@using Amazilia.Web.Mvc;
@using Amazilia.Web.Extentions;
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{

    //Sends 'New customer' notification message to a store owner

    /**/

    Layout = "mail-master.cshtml";
    string hostname = System.Web.HttpContext.Current.Request.Url.Scheme + "://" + System.Web.HttpContext.Current.Request.Url.Authority;
}
<h2>Dear store owner</h2>
A new customer has registerd...
