@inherits AmaziliaViewPageOfTContent<Amazilia.Core.Domain.Orders.Order>
@using Amazilia.Web.Mvc;
@using Amazilia.Web.Extentions;
@using Amazilia.Core.Web.Mvc;
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    /**/
     
    Layout = "mail-master.cshtml";
    string hostname = System.Web.HttpContext.Current.Request.Url.Scheme + "://" + System.Web.HttpContext.Current.Request.Url.Authority;
}
<div>Thank you for paying your order: @Model.CustomOrderNumber</div>
