@inherits AmaziliaViewPageOfTContent<Amazilia.Core.Domain.Orders.Order>
@using Amazilia.Web.Mvc;
@using Amazilia.Web.Extentions;
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    /**/

    Layout = "mail-master.cshtml";

    

}

   <div>Your order is (parial refunded) @Model.CustomOrderNumber</div>

