@inherits AmaziliaViewPageOfTContent<Amazilia.Core.Domain.Orders.Order>
@using Amazilia.Web.Mvc;
@using Amazilia.Web.Extentions;
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    /**/

    Layout = "mail-master.cshtml";
}

<div>The order:"@Model.CustomOrderNumber" of customer: "@Model.BillingAddress.LastName" is refunded </div>


