@inherits AmaziliaViewPageOfTContent<Amazilia.Core.Domain.Orders.Order>
@using Amazilia.Web.Mvc;
@using Amazilia.Web.Extentions;
@using Amazilia.Core.Web.Mvc;
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    /**/

    Layout = null;// "Master.cshtml";

}
<!doctype html>
<html>
<head>
    </head>
    <body>
        <div>Thank you for your order</div>

    </body>
</html>
