@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ContentPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}
@Html.Partial("~/Views/Partials/SectionHeader.cshtml")
<section class="section">
    <div class="container">
        <div class="row">
           
            <div class="col-md-3">

                @Html.Action("ForgotPasswordForm", "Membership", new { area = "Amazilia" })

            </div>
            
        </div>
        <div class="row">
            <div class="col-md-9">
                <article>
                    @Html.GetGridHtml(Model.Content, "bodyText", "bootstrap4-fluid")
                </article>
            </div>
        </div>

    </div>
</section>
