@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Ordering>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using Amazilia.Web.Controllers;

@{
    Layout = "Master.cshtml";

    var root = Umbraco.ContentAtRoot().FirstOrDefault();
    var orderingnode = root.Children("Ordering").FirstOrDefault();

   
}

@*Render filter*@
<section class="section" id="orderController">
    <div class="row">
        <div class="col-md-2">
            @Html.Partial("~/Views/Partials/Navigation/Categories.cshtml")
        </div>
        <div class="col-md-6 col-products">
            @*Products are loaded async, important: dont change the id*@
            <div class="products" id="products">
            </div>
        </div>
        <div class="col-md-4">
            @*Card is updated async, important: dont change the id*@
            <div id="cart-wrapper" data-asyncaction="@Url.Action("Cart","Basket", new { area = "Amazilia"})">
                <div>
                    @*@Html.Action("Cart", "Basket", new { area = "Amazilia" })*@
                </div>
            </div>

            <div class="card card-body">@Html.Raw(orderingnode.GetPropertyValue<string>("openingstijden"))</div>


        </div>
    </div>

</section>
