@inherits UmbracoViewPage<CheckoutPaymentMethodModel>
@using Amazilia.Web.Models.Checkout
@using Amazilia.Web.Controllers

@*@if (!Model.OnePageCheckoutEnabled)
    {
        @Html.Action("CheckoutProgress", "Checkout", new { step = CheckoutProgressStep.Cart })
    }*@

<div class="checkout-confim">
    <div class="row">
        <div class="col-6">

        </div>
        <div class="col-6">
            @{using (Html.BeginUmbracoForm<CheckoutController>
                                  ("ConfirmSubmit", new { area = "Amazilia" }, new { @class = "checkout-confirm"}))
                {

                    <div>Als uw betaling is verwerkt wordt uw bestelling geplaatst en ontvangt u een bestelnummer met de geschatte tijd van gereedheid</div>

                    <div class="buttons">
                        <input type="submit" name="nextstep" value="Door naar betalen" class="btn btn-success" />
                    </div>

                }
            }

        </div>
    </div>
   
</div>
