@inherits UmbracoViewPage<OrderDetailModel>
@using Amazilia.Web.Models.Orders
@using Amazilia.Web.Controllers
@*
    Checkout success view.
    This view gets returned from the Amazilia CheckoutController @Html.Action("Success", "Checkout", new { area = "Amazilia" })
    Usualy a page with Amazilia checkoutstep =  success.
*@
<div class="page checkout-page paymentmethod-page">

    @*@Html.Action("CheckoutProgress", "Checkout", new { step = CheckoutProgressStep.Address })*@

    Uw order : @Model.CustomOrderNumber

    <br />
    Met de items:
    @foreach (var item in Model.OrderItems)
    {
        <div>@item.Name @item.PriceInclTax</div>
    }

    is succesvol geplaatst
    <br/>
   
</div>
