@inherits UmbracoViewPage<Amazilia.Core.Domain.Catalog.Product>
@using Amazilia.Core.Domain.Catalog
@using Amazilia.Web.Extentions
@{
    Layout = null;


   
    
    bool showPriceInclTax = true;

}
<div class="modal fade" id="amazilia_model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <!-- Modal -->
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">@Model.Name added to your cart</h4>
            </div>

            @if (Model.ProductType == Amazilia.Core.Domain.Catalog.ProductType.GroupedProduct)
            {
                // cannot
            }
            else if (Model.ProductType == Amazilia.Core.Domain.Catalog.ProductType.SimpleProduct)
            {
                @Html.Partial("~/views/amazilia/shoppingcart/AddedToCartSimple.cshtml", Model)
            }
            else if (Model.ProductType == Amazilia.Core.Domain.Catalog.ProductType.Variant)
            {
                @Html.Partial("~/views/amazilia/shoppingcart/AddedToCartVariant.cshtml", Model)
            }



            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


