@inherits UmbracoViewPage<Amazilia.Core.Domain.Catalog.Product>
@using Amazilia.Core.Domain.Catalog
@using Amazilia.Web.Extentions
@{
    /**/

    Layout = null;
    bool showPriceInclTax = true;
}


<div class="row">
    <div class="col-md-6">
        <div class="product-image-container">
         
        </div>
    </div>
    <div class="col-md-6">
        <h1>@(Model.UmbracoContent.Name)</h1>
        @if (Model.HasFromToPrice)
        {
            @Model.FormatedFromToPrice(showPriceInclTax)
        }
        else
        {
            @Model.FormatedPrice(showPriceInclTax, 1)
        }

        @if (Model.TierPrices != null && Model.TierPrices.Where(a => a.Quantity > 1).Count() > 0)
        {
            @Html.Partial("Amazilia/Product/TierPrices", Model)
        }
      
    </div>
</div>


